.header,.hero,.body,.footer{
    background-color: teal;
    margin-bottom: 10px;
}
.box{
    margin: 10px 0;
    min-height: 100px;
    background-color: red;
    font-size: 30px;
    color: white;
}
.lime{
    background-color: lime;
}
.five{
    background-color: blue;
}